.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  padding: 2rem 1rem;
  background-color: #f7f8f9;
}

.container h1 {
  width: 60%;
  margin-bottom: 0.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.container .loginButton {
  background-color: #cbcbcb;
}
